*{margin: 0;padding: 0;}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

nav
{
	font-size: 2em;

	position: fixed;
	top: 15px;
	right: 15px;
}

.container 
{
	max-height: 100vh;
	width: 100vw;

	overflow-x: auto;
	display: flex;
}

.container .box
{
	background-color: rgba(0,0,0,0.5);

	min-width: 100vw;
	height: 100vh;
}

.container .box:nth-child(odd) 
{
  background-color: transparent;
}

section::-webkit-scrollbar
{
	width: 0;
}

footer
{
	font-size: 2em;
	
	position: fixed;
	bottom: 15px;
	left: 15px;
}