*{margin: 0;padding: 0; font-family: 'Noto Sans', sans-serif;}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body
{
	background-image: url("images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

nav
{
	color: rgba(255,255,255,0.7);
	font-size: 1.5em;
	font-weight: 400;
	padding: 1.5em;

	position: fixed;
	display: flex;
	flex-wrap: wrap;
	top: 0;
	right: 0;
}

nav a
{	/*może dodać cień*/
	text-decoration: none;
	color: rgba(255,255,255,0.7);
	text-shadow: 3px 3px 10px rgba(0,0,0,0.5);
	letter-spacing: 2px;
	padding: 7px;

	margin-left: 0.8em;
	margin-right: 0.8em;

	position: relative;
	display: inline-block;
}

/* ANIMACJA */
	nav a span
	{
		position: absolute;
		display: block;
		background-color: #E0B161;
	}

	nav a span:nth-child(1) /* lewa krawędź przycisku */
	{
		left: 0;
		bottom: 0;
		width: 1px;
		height: 0.6em;
		transform: scaleY(0);
		transform-origin: bottom;
		transition: transform 0.25s;
	}

	nav a:hover span:nth-child(1)
	{
		transform: scaleY(1);
		transform-origin: bottom;
		transition: transform 0.25s;
	}

	nav a span:nth-child(2) /* górna krawędź przycisku */
	{
		right: 0;
		top: 0;
		height: 1px;
		width: 0.6em;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 0.25s;
	}

	nav a:hover span:nth-child(2)
	{
		transform: scaleX(1);
		transform-origin: right;
		transition: transform 0.25s;
	}

	nav a span:nth-child(3) /* prawa krawędź przycisku */
	{
		right: 0;
		top: 0;
		width: 1px;
		height: 0.6em;
		transform: scaleY(0);
		transform-origin: top;
		transition: transform 0.25s;
	}

	nav a:hover span:nth-child(3)
	{
		transform: scaleY(1);
		transform-origin: top;
		transition: transform 0.25s;
	}

	nav a span:nth-child(4) /* dolna krawędź przycisku */
	{
		left: 0;
		bottom: 0;
		height: 1px;
		width: 0.6em;
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 0.25s;
	}

	nav a:hover span:nth-child(4)
	{
		transform: scaleX(1);
		transform-origin: left;
		transition: transform 0.25s;
	}
/* ANIMACJA */

/* DO POPRAWY - Wysrodkowanie nawigacji na małej szerokości */
@media only screen and (max-width: 700px) 
{
	nav
	{
		
		width: 60%;
		padding-top: 1.5em;
		right:auto;
		margin-left: auto;
		margin-right: auto;
		
		/*justify-content: space-between;*/
	}	
	nav a
  	{
    	/*background-color: red;*/ /*sprawdzenie czy wyłapuje szerokość*/

    	margin-left: 0.5em;
		margin-right: 0.5em;
  	}
}

/* HORIZONTAL SCROLL */
	.container 
	{
		max-height: 100vh;
		width: 100vw;

		scroll-behavior: smooth;

		/* DO POPRAWY - Ogarnąć scrolla który działa tylko w osi X i go nie widać */
		overflow-x: auto;
		display: flex;
		overflow: hidden; /* Brak możliwośći użycja scrolla ale przynajmniej go nie widać */
	}

	.container .box
	{
		background-color: rgba(0,0,0,0.5);

		min-width: 100vw;
		height: 100vh;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	.container .box:nth-child(odd) 
	{
	  background-color: transparent;
	}

	.content
	{ 
		font-size: 1em;
		color: rgba(255,255,255,0.7);
		text-align: center;

		/*background-color: #E0B161;*/

		max-width: 50em;
		width: 80%;
		padding: 2em;

		justify-content: center;
		align-items: center;
	}
/* HORIZONTAL SCROLL */

footer
{
	color: rgba(255,255,255,0.7);
	font-size: 1.5em;
	font-weight: 700;

	position: fixed;
	bottom: 1.5em;
	left: 1.5em;
}

.logo
{
	filter: invert(1) opacity(20%) drop-shadow(45px 45px 15px rgba(0,0,0,1));
	width: 40em;
	transition: 0.25s;
}

.logo:hover
{
	width: 39em;
	transition: 0.25s;
}

.hoverTitle
{
	font-size: 1.5em;
}